extends ../shared/layout.pug

block content
  //h1= title
  //include ../shared/nav.pug
  //  for person in user
  //    div(class='sampleNameOfDiv')
  //      h2= person.id
  //        p #{person.name}

  .container
    .page-header
      h1 Git Scout
    .jumbotron
      p Git Search
      // search box
      .input-group
        input.form-control(type='text', placeholder='Search for...')
        span.input-group-btn
          button.btn.btn-secondary(type='button') Go!
      // drop down
      .dropdown.show
        button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Location
        .dropdown-menu(aria-labelledby='dropdownMenuLink')
          a.dropdown-item(href='#') Wellington
          a.dropdown-item(href='#') Auckland
          a.dropdown-item(href='#') Other
        button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Language
        .dropdown-menu(aria-labelledby='dropdownMenuLink')
          a.dropdown-item(href='#') Python
          a.dropdown-item(href='#') Ruby
          a.dropdown-item(href='#') Java
  // User box things
  .container
    ul
      .row
        // ==============START OF FIXED NUM OF PEOPLE TO DISPLAY=========
        for person in user
          .col-lg-3.col-md-3.col-sm-6
            img.imgWidth(src='https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg')

            h4 #{person.login}

            p
              |  Followers: #{person.followers}
              br
              |  Following: #{person.following}
              br
              |  Stars: 2290
              br
              |  Repositories: #{person.public_repos}
              br
              |  Location: Wellington, New Zealand
              br
            // FIXME Collapse not
            p
              a(href='#col1Addition', data-toggle='collapse') move info
            #col1Addition.collapse
              p Number of projects: 23
              p Looking for job: Y
              // message box
              .container
                label(for='') Message:
                textarea#message.form-control(rows='1')
