extends ../shared/layout.pug

block content

    .container
      .page-header
        h1 Git Scout
      .jumbotron
        p Git Search
        // search box
        .input-group
          input.form-control(type='text', placeholder='Search for...')
          span.input-group-btn
            button.btn.btn-secondary(type='button') Go!
        // drop down
        .dropdown.show
          button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Location
          .dropdown-menu(aria-labelledby='dropdownMenuLink')
            a.dropdown-item(href='#') Wellington
            a.dropdown-item(href='#') Auckland
            a.dropdown-item(href='#') Other
          button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Language
          .dropdown-menu(aria-labelledby='dropdownMenuLink')
            a.dropdown-item(href='#') Python
            a.dropdown-item(href='#') Ruby
            a.dropdown-item(href='#') Java
    // User box thing
    .container
      .row
        for person in user
          .col-md-3.col-sm-6.user
            .usercontent
              .row.text-center.languages
                .col-sm-12
                  .row
                    .col-sm-4
                      p javascript
                    .col-sm-4
                      p Python
                    .col-sm-4
                      p Java
                  .row
                    .col-sm-4
                      p javascript
                    .col-sm-4
                      p Python
                    .col-sm-4
                      p Java
              hr
              .row.info
                .col-sm-12
                  .row.text-center
                    .col-sm-4
                      p Gist
                      h3  #{person.public_gists}
                    .col-sm-4
                      p Repositories
                      h3 #{person.public_repos}
                    .col-sm-4
                      p Contributions
                      h3 220
                  .row.text-center.info1
                    .col-sm-4
                      p Followers
                      h3  #{person.followers}
                    .col-sm-4
                      p Following
                      h3 #{person.following}
                  .row
                    .col-sm-12
                      p #{person.blog}
                      p
                        a(href= 'mailto:'+person.email)  #{person.email}
              hr
              .row
                .col-sm-12
                  p Per Something
                  p
                    img(src='https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg', width='15px')
                    |  New Zealand
